
<link rel="stylesheet" href="/css/bootstrap.min.css" >

<div class="container">
	<div class="jumbotron">
	<h1  class="text-center">Welcome to Food App</h1>
		<div class="row">
			<div class="text-center">{{#link-to 'menu'}} Click to see the Menu {{/link-to}}</div>
			<br>
			{{outlet}}
		</div>
	</div>
</div>
